@import "tailwindcss";

:root {
  --color-primary: #46237a;
  --color-primary-light: #673da6;
  --color-text: #414042;
  --color-bg-light: #f6f6f6;
  --color-orange-accent: #f6bc98;
}

@theme inline {
  --font-body: var(--font-work-sans), sans-serif;
  --font-heading: var(--font-yanone), sans-serif;
  --color-primary: #46237a;
  --color-primary-light: #673da6;
}

body {
  font-family: var(--font-work-sans), sans-serif;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-yanone), sans-serif;
  text-transform: uppercase;
  color: var(--color-primary);
}
